/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  background-color: green; }
